---
import Blogs from "@/components/Blogs.astro";
import Intro from "@/components/Intro.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="JOSHUA">
  <div class="flex flex-col">
    <h1 class="text-9xl text-black font-semibold leading-relaxed">JOSHUA</h1>
    <div>
      <h2 class="text-4xl leading-normal font-semibold">BLOG</h2>
      <h2 class="text-4xl leading-normal font-semibold">PROJECTS</h2>
    </div>
  </div>
</Layout>
