---
import Layout from "@/layouts/Layout.astro";

---

<Layout>
  <div class="flex flex-col px-8 w-[38rem] mx-auto">
    <div class="flex items-center py-4 xl:py-6">
      <h1
        class="text-5xl md:text-6xl xl:text-8xl font-kabelB animate-leftslide opacity-0"
      >
        MEDIA
      </h1>
    </div>
  </div>
</Layout>
