---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout>
  <div class="flex flex-col px-4 w-[38rem] mx-auto">
    <h1
      class="text-5xl md:text-6xl xl:text-8xl font-kabelB animate-leftslide opacity-0 py-4 xl:py-6"
    >
      POSTS
    </h1>
    {
      posts.map(({ data }) => (
        <a
          href={`/post/${data.title}`}
          class="font-kabelB text-lg md:text-xl xl:text-2xl inline-block group relative w-max leading-relaxed md:leading-relaxed xl:leading-relaxed animate-rightslide opacity-0 uppercase py-4"
        >
          {data.title}
          <p class="text-sm text-primary">{data.date}</p>
          <span class="absolute -bottom-0.5 left-0 w-0 transition-all duration-300 h-1 bg-black group-hover:w-full rounded-md" />
        </a>
      ))
    }
  </div>
</Layout>
