---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout title="JOSHUA">
  <div class="flex flex-col px-4">
    <div>
      <h1
        class="text-5xl md:text-6xl xl:text-7xl font-kabelB animate-leftslide"
      >
        POSTS
      </h1>
    </div>

    <div class="gap-4 flex flex-col">
      {
        posts.map(({ data }) => (
          <div class="shadow rounded-md p-6 space-y-2 mx-2 hover:shadow-lg transition">
            <p class="text-sm">{data.title}</p>
            {/* <p class="text-sm">{data.date}</p>
            <p class="text-2xl">{data.blurb}</p> */}
          </div>
        ))
      }
    </div>
  </div>
</Layout>
