---
import { Icon } from "astro-icon/components";
---

<footer class="flex justify-start mt-4 xl:mt-8 gap-4">
  <a
    href="https://github.com/chappelo"
    target="_blank"
    rel="noopener noreferrer"
    class="text-black hover:opacity-75 transition-opacity duration-300"
  >
    <Icon
      name="github"
      class="inline-block animate-rightslide opacity-0 w-5 h-5 md:h-7 md:w-7 duration-300"
    />
  </a>
  <a
    href="mailto:jdchappelow@gmail.com"
    target="_blank"
    rel="noopener noreferrer"
    class="text-black hover:opacity-75 transition-opacity"
  >
    <Icon
      name="mail"
      class="inline-block animate-rightslide opacity-0 w-6 h-6 md:h-8 md:w-8 duration-300"
    />
  </a>
</footer>
