---
// import { ViewTransitions } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
import Pattern from "../../public/pattern.svg";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en" class="text-black font-kabelMD">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>JOSHUA</title>
  </head>
  <body class="bg-white dark:text-white dark:bg-primary min-w">
    <div class="bg-main w-full h-full top-0 left-0 block fixed animate-noise">
      <Image
        loading="eager"
        src={Pattern}
        class="w-full h-full"
        alt="Line Pattern"
      />
    </div>
    <main class="h-screen overflow-auto relative">
      <div class="flex items-center h-full">
        <slot />
      </div>
    </main>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "KabelB";
    src: url("/fonts/NeueHaasDisplay-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: "KabelMD";
    src: url("/fonts/NeueHaasDisplay-Mediu.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }
</style>
